# **Road Safety Analysis with sqlite3 & python**

#### *Import required libraaries*

In [33]:
# Required libraries
import pandas as pd
import sqlite3

#### *Connection the database*

In [34]:
# Connect to the sqlite database
conn = sqlite3.connect('accident_data_v1.0.0_2023.db')
cursor = conn.cursor()

#### *Print the columns name each table of the sqlite3 database*

In [35]:
# Dictionary to store column names for each table
table_columns = {}

# Define tables for which we want to retrieve column names
tables = ['accident', 'vehicle', 'casualty', 'lsoa']

# Loop through each table and fetch column names
for table in tables:
    # Execute PRAGMA query to fetch column information
    cursor.execute(f"PRAGMA table_info({table})")
    # Fetch all column information
    col_info = cursor.fetchall()
    # Extract column names and store in a list
    column_names = [col[1] for col in col_info]
    # Store column names in the dictionary
    table_columns[table] = column_names

# # Print the column names for each table
for table, columns in table_columns.items():
    print(f"Column names for {table} table:")
    print(columns)
    print()

Column names for accident table:
['accident_index', 'accident_year', 'accident_reference', 'location_easting_osgr', 'location_northing_osgr', 'longitude', 'latitude', 'police_force', 'accident_severity', 'number_of_vehicles', 'number_of_casualties', 'date', 'day_of_week', 'time', 'local_authority_district', 'local_authority_ons_district', 'local_authority_highway', 'first_road_class', 'first_road_number', 'road_type', 'speed_limit', 'junction_detail', 'junction_control', 'second_road_class', 'second_road_number', 'pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities', 'light_conditions', 'weather_conditions', 'road_surface_conditions', 'special_conditions_at_site', 'carriageway_hazards', 'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident', 'trunk_road_flag', 'lsoa_of_accident_location']

Column names for vehicle table:
['vehicle_index', 'accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'vehicle_type', 'towing_and_articulation', 'vehicle_manoeuvre', 'vehicle_direction_from', 'vehicle_direction_to', 'vehicle_location_restricted_lane', 'junction_location', 'skidding_and_overturning', 'hit_object_in_carriageway', 'vehicle_leaving_carriageway', 'hit_object_off_carriageway', 'first_point_of_impact', 'vehicle_left_hand_drive', 'journey_purpose_of_driver', 'sex_of_driver', 'age_of_driver', 'age_band_of_driver', 'engine_capacity_cc', 'propulsion_code', 'age_of_vehicle', 'generic_make_model', 'driver_imd_decile', 'driver_home_area_type']

Column names for casualty table:
['casualty_index', 'accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'casualty_reference', 'casualty_class', 'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty', 'casualty_severity', 'pedestrian_location', 'pedestrian_movement', 'car_passenger', 'bus_or_coach_passenger', 'pedestrian_road_maintenance_worker', 'casualty_type', 'casualty_home_area_type', 'casualty_imd_decile']

Column names for lsoa table:
['objectid', 'lsoa01cd', 'lsoa01nm', 'lsoa01nmw', 'shape__area', 'shape__length', 'globalid']

#### *Print length of the each table*

In [36]:
# Define tables for which we want to find the length
tables = ['accident', 'vehicle', 'casualty', 'lsoa']

# Dictionary to store the length of each table
table_lengths = {}

# Loop through each table and fetch the count of rows
for table in tables:
    # Execute SQL query to count the number of rows in the table
    cursor.execute(f"SELECT COUNT(*) FROM {table}")
    # Fetch the count
    count = cursor.fetchone()[0]
    # Store the count in the dictionary
    table_lengths[table] = count

# Print the length of each table
for table, length in table_lengths.items():
    print(f"Length of {table} table number of rows: {length}")

Length of accident table number of rows: 461352
Length of vehicle table number of rows: 849091
Length of casualty table number of rows: 600332
Length of lsoa table number of rows: 34378

### *I. The age of the Oldest driver/rider in the casualty table*

In [37]:
#execute the sql follwing command
cursor.execute("SELECT MAX(age_of_casualty) AS oldest_age FROM casualty")
oldest_age_result = cursor.fetchone()[0]

print(f"Age of the oldest driver/rider in the casualty table:{oldest_age_result}")

Age of the oldest driver/rider in the casualty table:102

### *II. The total number of vehicle_type=19 vehicles in the vehicle table*

In [38]:
# Execute the SQL command to get the total number of vehicle_type=19 vehicles
cursor.execute("SELECT COUNT(*) AS total_vehicles FROM vehicle WHERE vehicle_type = 19")
total_vehicles_result = cursor.fetchone()[0]

# Print the result
print("Total number of vehicle_type=19 vehicles in the vehicle table:", total_vehicles_result)

Total number of vehicle_type=19 vehicles in the vehicle table: 47458

### *III. Sex of driver, sex of casualty, speed limit, and age of vehicle for accidents in Kingston Upon Hull with pandas dataframe with total number of rows*

In [39]:
# Execute the SQL command to retrieve the required data
cursor.execute("""
    SELECT v.sex_of_driver, c.sex_of_casualty, a.speed_limit, v.age_of_vehicle, l.lsoa01cd, l.lsoa01nm
    FROM accident a
    JOIN casualty c ON a.accident_reference = c.accident_reference
    JOIN vehicle v ON a.accident_reference = v.accident_reference
    JOIN lsoa l ON a.lsoa_of_accident_location = l.lsoa01cd
    WHERE l.lsoa01nm LIKE 'Kingston Upon Hull%'
""")

results = cursor.fetchall()

# list of column names
column_names = []
# Iterate over each item in cursor.description
for description in cursor.description:
    # Extract the column name (first element) and append it to the column_names list
    column_names.append(description[0])

# Convert the results to a Pandas DataFrame
df = pd.DataFrame(results, columns=column_names)

# Print the DataFrame
df.head()

,sex_of_driver,sex_of_casualty,speed_limit,age_of_vehicle,lsoa01cd,lsoa01nm
0,1,1,30,-1,E01012756,Kingston upon Hull 025A
1,2,1,30,9,E01012756,Kingston upon Hull 025A
2,1,1,30,1,E01012756,Kingston upon Hull 025A
3,2,1,30,10,E01012756,Kingston upon Hull 025A
4,1,2,30,1,E01012756,Kingston upon Hull 025A

In [40]:
# total number of rows
total_rows = len(df)
# Print the total number of rows
print("\nTotal Number of Rows:", total_rows)

Total Number of Rows: 6387